#map {
  height: 100%;
  margin-left: 200px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.button1,
.button2,
.button3,
.button4,
.button5 {
  width: 80px;
  height: 40px;
  font-size: 14px;
  border-radius: 8px;
  position: absolute;
  z-index: 1001;
  margin: 10px; /* Added margin */
}

.button1 {
  top: 10px;
  left: 10px;
}

.button2 {
  top: 60px; /* Adjusted position */
  left: 10px;
}

.button3 {
  top: 110px; /* Adjusted position */
  left: 10px;
}

.button4 {
  top: 160px; /* Adjusted position */
  left: 10px;
}

.button5 {
  top: 210px;
  left: 10px;
}

.button-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f8f9fa;
  padding: 20px;
}

.button-container form {
  margin-bottom: 10px;
}

.button-container input[type="submit"] {
  border-radius: 8px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.button-container input[type="submit"]:hover {
  background-color: #0056b3;
}
