<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Friend Requests</title>
    <link rel="stylesheet" type="text/css" href="../static/add_friend.css">
    <script src="../static/add_friend.js"></script>
</head>
<body>
    <h1>Pending List</h1>
    <ul id="friendList">
        <!-- List of pending friendships will be dynamically added here -->
    </ul>
    <h1>Add Friend</h1>
    <input type="text" id="friendUsername" placeholder="Friend's Username">
    <button onclick="addFriend()">Add Friend</button>
    <div id="message"></div>
</body>
</html>
