<html>
  <head>
    <title>Journalwere</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="google" content="notranslate">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="google" content="nositelinkssearchbox">
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
    <script type="module" src="../static/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx2WMtxuCdiH5LGcQnVJaQvKq5S5Yj0FQ&region=US&language=en&callback=initMap" async defer></script>
  </head>
  <body>
    <form action="/friends_list" method="POST" class="button1">
      <input type="submit" value="Add friends">
    </form>
    
    <form action="/friends" method="GET" class="button2">
      <input type="submit" value="friends">
    </form>
    
    <form action="/create_post" method="GET" class="button3">
      <input type="submit" value="+">
    </form>
    
    <form action="/post" method="GET" class="button4">
      <input type="submit" value="post">
    </form>
    <!--The div element for the map -->
    <div id="map"></div>
  </body>
</html>
